.bg-cinza-escuro{
    background: #313131;
}
.bg-cinza{
    background: #898989;
}
.bg-cinza-claro{
    background: #f2f2f2;
}

.bg-azul{
    background: #30a7d7;
}
.bg-vermelho{
    background: #e3350d;
}
.bg-laranja{
    background: #ee6b2f;
}
.bg-amarelo {
    background: #e6bc2f;
}
.bg-verde{
    background: #4dad5b;
}
.bg-roxo{
    background: #b97fc9;
}