.bg-vermelho{
    background: #FF0000;
}

.bg-red-dark{
    background: #CC0000;
}
.bg-blue{
    background: #3B4CCA;
}
.bg-yellow{
    background: #FFDE00;
}
.bg-yellow-dark{
    background: #B3A125;
}
.bg-red-gradient{
    background: linear-gradient(90deg, rgba(204,0,0,1) 0%, rgba(255,0,0,1) 16%, rgba(255,93,93,1) 100%);

}

.bg-roxo{
    background: #B97FC9;
}


