.tx-cinza-escuro{
    color: #313131;
}
.tx-cinza{
    color: #898989;
}
.tx-cinza-claro{
    color: #f2f2f2;
}

.tx-azul{
    color: #30a7d7;
}
.tx-vermelho{
    color: #e3350d;
}
.tx-laranja{
    color: #ee6b2f;
}
.tx-amarelo {
    color: #e6bc2f;
}
.tx-verde{
    color: #4dad5b;
}
.tx-roxo{
    color: #b97fc9;
}